<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width:300, alt:"Profile Pic"%>
  </div>
  <div class="col-md-8 about-text">
    <h1>About Me</h1>
    <p>A confident and smartly presented individual with excellent communication and interpersonal 
    skills and valuable IT knowledge - Java, Spring, JavaScript, React.js, Ruby, Ruby on Rails 
    </p>
  </div>
</div>
