<h1>About Me</h1>
<p>A confident and smartly presented individual with excellent communication and interpersonal skills and valuable IT knowledge - Java, Spring, JavaScript, React.js, Ruby, Ruby on Rails </p>
